---
import Breadcrumbs from '@/components/breadcrumbs.astro'
import PageHead from '@/components/page-head.astro'
import ProjectCard from '@/components/project-card.astro'
import PaginationComponent from '@/components/ui/pagination'
import { badgeVariants } from '@/components/ui/badge'
import { SITE } from '@/consts'
import Layout from '@/layouts/layout.astro'
import { getAllProjects, groupProjectsByYear } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allProjects = await getAllProjects()
  return paginate(allProjects, { pageSize: SITE.postsPerPage })
}

const { page } = Astro.props
const projectsCount = page.data.length

const projectsByYear = groupProjectsByYear(page.data)
const years = Object.keys(projectsByYear).sort((a, b) => {
  if (a === 'Undated') return 1
  if (b === 'Undated') return -1
  return parseInt(b) - parseInt(a)
})
---

<Layout class="max-w-3xl">
  <PageHead
    slot="head"
    title="Projects"
    description="A collection of my projects."
  />
  <Breadcrumbs
    items={[
      { label: 'Projects', href: '/projects', icon: 'lucide:folder-kanban' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:book-copy' },
    ]}
  />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
    <div class="mb-3 flex items-center gap-2 text-sm font-medium">
      <Icon name="lucide:folder-kanban" class="size-4" />
      Projects
      <span class={badgeVariants({ variant: 'muted' })}>{projectsCount}</span
      >
    </div>
    {
      years.map((year) => (
        <section class="flex flex-col gap-y-4">
          <div class="font-medium">{year}</div>
          <ul class="flex flex-col gap-4">
            {projectsByYear[year].map((project) => (
              <li>
                <ProjectCard project={project} />
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>

  <PaginationComponent
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl="/projects/"
    client:load
  />
</Layout>
